.button-register{
    background-color:#e96310;;
    outline:none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 20%;
    padding: 3%;
    font-size: large;
    font-weight: 600;
    margin-top: 10px;
}
.button-register:hover{
    background-color: #ca560e;;
}