.button-register{
    background-color:#b16637;;
    outline:none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 20%;
    padding: 3%;
    font-size: large;
    font-weight: 600;
}
.button-register:hover{
    background-color: #b16637;;
}