.form-container{
    padding-top: 10px;
    padding-bottom: 35px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 1%;
    box-sizing: border-box;
    background-color: #3a3a3a;
    gap: 10px;
}
.logo-container{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 100px;
    box-sizing: border-box;
}
.logo-container span{
    text-align: center;
    color: white;
    font-size: xx-large;
}
span{
    color: #e96310;
    cursor: pointer;
}
