.login-form-container{
    padding-top: 50px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 1%;
    box-sizing: border-box;
    background-color: #3a3a3a;
    gap: 10px;
}
.logo-container-form{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 100px;
    box-sizing: border-box;
}
.logo-container-form img{
    max-width: 100%;
    max-height:100%;
    border-radius: 30px;
    scale: 1.5;
}

span{
    color: #e96310;
    cursor: pointer;
}
.footer-text{
    font-size:large;
     font-weight: 400;
     color: rgb(255, 255, 255);
}