.login-form-container{
    padding-top: 50px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 1%;
    box-sizing: border-box;
    background-color: #3a3a3a;
    gap: 20px;
}
.logo-container-form{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 100px;
    box-sizing: border-box;
}
.logo-container-form img{
    max-width: 100%;
    max-height:100%;
    border-radius: 30px;
    scale: 1.5;
}
.get{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 23%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
    box-sizing: border-box;
    gap: 14px;
}
.get span{
    font-size: larger;
}
p{
    font-size:large;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.get a{
    text-align: center;
    color:#385185;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}
span{
    color: #D2763E;
    cursor: pointer;
}
